body {
  background-color: var(--light-black);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  padding: 80px 0;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  margin:0;
  letter-spacing: -0.004em;
}

p {
  font-size: 22px;
  line-height: 192.7%;
}

.pattern-category {
  margin-top: 80px;
}

.pattern-category-title {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  line-height: 1;
}

.pattern-wrap {
  max-width: 1250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.pattern-btn {
  width: 230px;
  height: 360px;
  background-color: red;
  cursor: pointer;
  margin: 20px 10px 0 10px;
  border-radius: 4px;
  padding-bottom: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 14px 43px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.pattern-btn img,
.pattern-btn p {
  transform: translateZ(50px);
  color: var(--black);
  font-size: 16px;
}

.pattern-btn p {
  margin-top: -10px;
}